@import url(https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap);

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: lightskyblue;
    overflow: hidden;
} 

p {
    font-size: 5vh;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#board {
    background-color: lightgreen;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.difficulty {
    top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-family: "Jost";
    font-size: 10vh;
    transition: 150ms ease-in;
    z-index: 2;
}

#easy, #normal, #hard {
    flex-direction: row;
    font-size: 10vh;
    height: 12vh;
    width: 40vw;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.active {
    top: 0vh;
}

.snake {
    background-color: seagreen;
}

.food {
    background-color: rgb(203, 6, 6);
}